html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

:root {
	font-family: 'Google Sans', 'Hiragino Sans', Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #f6f6f6;
	background-color: #2f2f2f;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	scrollbar-width: none;
	scroll-behavior: unset;
	text-wrap-mode: wrap;
	text-overflow: ellipsis;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.liveview_container,
.settings_container,
.home_container {
	text-size-adjust: none;
	animation: container-opacity-enter 0.5s forwards;
}

@keyframes container-opacity-enter {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.main_tab {
	position: relative;
	display: flex;
	width: 100%;
	height: 8vh;
	background: #252525;
}

.main_tab .btn {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease;
}

.main_tab .btn.is_active {
	background-color: #2f2f2f;
}

.main_tab .indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 33.3%;
	height: 2px;
	background: red;
	transition: transform 0.1s ease;
}

.info_container {
	display: flex;
	flex-direction: row;
	justify-content: left;
}

.info_container .rank_panel_divider {
	display: flex;
	justify-content: center;
	width: 2vw;
}

.rank_panel_divider #divider {
	width: 1px;
	margin: 10px 5px;
	background-color: #3f3f3f;
}

.rank_info_panel #rank_element {
	display: flex;
	flex-direction: row;
	margin: 5px;
	border-radius: 1em;
	display: flex;
	align-items: center;
	width: 28.5vw;
	height: 13.5vh;
	background-color: #222222;
}

#rank_element #rank_icon {
	height: 10vh;
	margin-left: 5px;
}

#rank_element #rank_text {
	display: flex;
	margin-left: 5px;
	font-size: 1.35em;
	flex-direction: column;
	text-align: left;
	gap: 1.5px;
}

#rank_text #rr {
	font-size: 0.8em;
}

#rank_text p {
	margin: 0;
	align-items: center;
}

.rank_info_panel #rank_element {
	display: flex;
	margin: -2.5px 5px 5px 5px;
}

.rank_info_panel #title_panel {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

p#current_rank,
p#status {
	margin: 10px 5px 5px 10px;
	text-align: left;
	font-size: 1.25em;
}

p#season_name {
	color: gray;
	margin: 12.5px 10px 0 0;
	text-align: right;
	font-size: 0.85em;
}

.stats_panel {
	margin: -2.5px 5px 5px 2.5px;
	border-radius: 1em;
	display: flex;
	width: 67vw;
	height: 68vh;
	background-color: #222222;
}

.user_info_panel {
	display: flex;
	width: 100%;
	height: 15vh;
	background-color: #222222;
}

.user_info_padding {
	margin-left: 1em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: left;
	flex-direction: row;
	width: 100%;
	height: 15vh;
}

.user_info_panel .name_panel p {
	margin: 0;
}

.user_info_panel .name_panel {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-left: 0.5em;
	font-size: 1.25em;
}

.user_info_panel #p_level {
	font-size: 0.85em;
	color: gray;
}

.user_info_panel img.player_icon {
	width: 4em;
	height: 4em;
	border-radius: 100px;
	border: 2px solid #fff;
}

.main_tab .btn:hover {
	background-color: #2a2a2a;
}

.indicator.home {
	transform: translateX(0%);
}

.indicator.liveview {
	transform: translateX(100%);
}

.indicator.settings {
	transform: translateX(200%);
}

a {
	font-weight: 500;
	color: #fff;
	text-decoration: inherit;
	transition: color 0.3s;
}

h1 {
	transition: all 0.5s;
	text-align: center;
}

h1:hover {
	filter: drop-shadow(0 0 0.3em #24c8db);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input,
button {
	margin-top: 0.25em;
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	color: #0f0f0f;
	background-color: #ffffff;
	transition: border-color 0.25s;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input,
a,
button {
	outline: none;
}

input,
button {
	color: #ffffff;
	transition: background-color 0.25s;
	background-color: #0f0f0f98;
}

a:hover {
	color: #24c8db;
}

button {
	cursor: pointer;
}

button:active {
	border-color: #396cd8;
	background-color: #0f0f0f69;
}

button:hover {
	border-color: #396cd8;
}